@import url('https://fonts.googleapis.com/css2?family=Tourney:wdth@125&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wdth@1,125&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* tags */

:root {
    --cyan: #0fb1bd;
    --background: #1f252e;
}

body {
    background-color: var(--background);
    margin: 0;
}

a {
    text-decoration: none;
}

/* ids */

#canvas-title-container {
    display: flex;
    flex-direction: row;
}

#graphic-container {
    margin: 100px 50px;
    float: left; 
}

#draw-prompt {
    display: flex; 
    float: left;
}

#select-network-type {
    display: flex;
    margin-left: 50px;
    float: left;
    border-radius: 5px;
}

#draw-prompt {
    margin-bottom: 10px;
}

#canvas {
    display: block;
    border: 5px solid;
    border-color: var(--cyan);
    border-radius: 5px;
    background-color: white;
}

#header-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}

#page-title, #page-subtitle, #about-link, #draw-prompt{
    color: 	var(--cyan);
}

#page-title {
    display: flex;
    float: left;
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: 0.3em;
}

#page-subtitle { 
    display: flex;
    float: left;
    margin-top: 10px;
}

#about-link {
    display: flex;
    float: right;
    margin-right: 100px;
    padding: 5px 10px;
    border: 2px solid;
    border-color: var(--cyan);
    border-radius: 5px;
}


#clear-button:hover {
    background-color: #D3D3D3;
}

/* classes */ 

.canvas-button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}


/* fonts */

.roboto-regular {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.tourney-italic {
    margin: 0;
    padding: 0;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
      "wdth" 125;
  }

.tourney-regular {
    margin: 0;
    padding: 0;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 125;
  }
  
